<p>Sorry, the login process failed =(</p>
<a href="/signin/google">Try again with Google</a>
<p>Do you already have an account?</p>
<a href="/signin">Log In</a>
<p>You don't? That's Ok</p>
<a href="/signup">Sign Up</a>