<div id="categories">
<!--
  <p>Categories</p>
  <br>

  <ul id="categories-list">
    <li>
    <a href="/categories/Books">Books</a>
  </li>
  <li>
    <a href="/categories/Cars">Cars</a>
  </li>
  <li>
    <a href="/categories/Clothes">Clothes</a>
  </li>
  <li>
    <a href="/categories/Computers">Computers/Laptops</a>
  </li>
  <li>
    <a href="/categories/Electronics">Electronics</a>
  </li>
  <li>
    <a href="/categories/Furniture">Furniture</a>
  </li>
  <li>
    <a href="/categories/Toys">Toys</a>
  </li>
  <li>
    <a href="/categories/Tools">Tools</a>
  </li>
  <li>
    <a href="/categories/White_goods">White Goods</a>
  </li>
  <li>
    <a href="/categories/Others">Others</a>
  </li>
  </ul>    
 -->

  <nav id="categList" class="nav">
    <li  class="nav-link"><a href="/categories/Books">Books</a></li>
    <li class="nav-link"><a href="/categories/Cars">Cars</a></li>
    <li class="nav-link"><a href="/categories/Clothes">Clothes</a></li>
    <li class="nav-link"><a href="/categories/Computers">Computers/Laptops</a></li>
    <li class="nav-link"><a href="/categories/Electronics">Electronics</a></li>
    <li class="nav-link"><a href="/categories/Furniture">Furniture</a></li>
    <li class="nav-link"><a href="/categories/Toys">Toys</a></li>
    <li class="nav-link"><a href="/categories/Tools">Tools</a></li>
    <li class="nav-link"><a href="/categories/White_goods">White Goods</a></li>
    <li class="nav-link"><a href="/categories/Others">Others</a></li>
  </nav>

</div>

