<div>
  <p>What do you want?</p>
    <form action="/search" method="GET">
        <input type="text" name="item" placeholder="Search">
        <input type="text" name="location" placeholder="City">
        <label for="operation"><p>Operation</p></label>
        <select name="operation" id="operation-input">
          <option value="Donate">Donate</option>
          <option value="Sell">Sell</option>  
          <option value="Exchange">Exchange</option>
        </select>
        <button type="submit">SEARCH</button>
    </form>
</div>