<div class="logo-searchbar-containter">
 <!-- <img src="/images/logo.jpeg" class="logo" alt="item-logo"> -->

  <div>
    {{> searchBar}}
  </div>
</div>

{{> categoriesPartial}}

<section>
  <h4 class="headings">Recently published</h4>
    <div class="partial-container-item-card">
    {{#each itemsFromDB}}
       {{> itemPartialMainPage this}}
    {{/each}}
     </div>
</section>