<h1>.item</h1>
<p>Hi! I am the main page! </p>

  <section class="temp-mark">
    <nav>
      <h3>Categories</h3>
      <div>
        {Here might be the main or most popular categories}
        
      </div>
    </nav>
  </section>

  <section id="most-recent-items">
    <h3>Recently published</h3>
    <div class="recent-items-container">
      {{#each itemsFromDB}}
        {{!-- <a href="/{{this.item}}">{{this.item}}</a> --}}
         {{> itemPartialMainPage this}}
      {{/each}}

    </div>
  </section>