<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav class="navbar navbar navbar-light" style="background-color: rgb(209, 0, 77);">

          <a href="/">Home</a>

          <a href="/item-new">Upload New Item</a>

          <a href="/dashboard">My Profile</a>

          <a href="/signin">SignIn</a>
 
          {{#unless user}}
            <div>
              <a href="/signin/google">Login With Google</a>
            </div>
          {{/unless}}
 
          <a href="/signup">Register</a>

          <form id="logout-form" action="/logout" method="POST">
             <button>Logout</button>
          </form>
    </nav>

        <!--
        <li>
          
          <form action="/search" method="GET">
            <input type="text" name="item" placeholder="Search">
            <input type="text" name="location" placeholder="City">
            <input type="text" name="operation" placeholder="How do you want to get it?">

            <button type="submit">SEARCH</button>
          </form>
         --> 

    </nav>
  
  {{{body}}}

    <footer>
      <h4>footer</h4>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
      </ul>
    </footer>

  {{!-- <script src="/javascripts/mapGenerator.js"></script> --}}
  
</body>
</html>
