<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav id="main-nav" class="main-nav">
      <ul>
        <li>
          <p><a href="/">Home</a></p>
        </li>
        <li>
          <form action="/search" method="GET">
            <input type="text" name="item" placeholder="Search">
            <input type="text" name="location" placeholder="City">
            <input type="text" name="operation" placeholder="How do you want to get it?">

            <button type="submit">SEARCH</button>
          </form>
          
          <a href="/item-new">Upload New Item</a>
        </li>
        <li>
          <a href="/dashboard">My Profile</a>
        </li>
        <li>
          <a href="/signin">SignIn</a>
        </li>
        <li>
          <a href="/signup">Register</a>
        </li>
        <li>
          <a href="/">Logout</a>
        </li>
      </ul>
    </nav>
  
  {{{body}}}

    <footer>
      <h4>footer</h4>
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
        <li>E</li>
      </ul>
    </footer>

  {{!-- <script src="/javascripts/mapGenerator.js"></script> --}}
  
</body>
</html>