@media only screen and (max-width:480px) {

  





}





body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid gray;
}

a {
  color: #00B7FF;
}

.main-nav{
  border: 1px solid black;
}

footer{
  border: 1px solid blue;
}

.temp-mark {
  border: 1px solid black;
}

#map {
  height: 500px;
  width: 100%;
  border: 1px solid red;
 }

/*
 .image {
   width: 30px;
   height: 30px;
 }
*/


