
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  /*color: black;*/
}

.temp-mark {
  border: 1px solid black;
}

#map {
  height: 500px;
  width: 100%;
  border: 1px solid red;
  margin-bottom: 20px;
 }

.buttons-container-item-card {
  display:flex;
  justify-content: space-around; 
}

.btn-primary {
  background-color: rgb(209, 0, 77);
  border: 1px solid rgb(209, 0, 77);
}

.partial-container-item-card {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.card {
  margin: 15px;
}

.logo {
  width: 150px;
  margin: 15px 25px 25px 15px;
}

.logo-searchbar-containter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchbar-container{
  display: flex;
  align-items: center;
}

#search-button {
  margin-left: 20px;
  margin-top: 8px;
}

#submit-button {
  margin-left: 2px;
  margin-top: 8px;
}

.file-upload-button {
  border: none;
  margin-left: 0;
}

.item-form-container {
  display: flex;
  flex-direction: column;
}

#categList{
  background-color: rgb(160, 155, 155);
  border-radius: 0.5%;
  margin: 15px;
}

#categList a {
  color: white;
}

.headings {
  margin: 30px;
}

.itemHeading{
  margin: 25px 0px 20px 0px;
}

.btn-light {
  padding: 6px;
  font-size: 13px;
  margin-right: 10%;
}

.loginForm{
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 10px;
  background-color: rgb(209, 0, 77)
}

.login {
  margin: 25px;
}

.welcomeMess{
  margin: 25px 0px 25px 0px;
}

.card-img-top{
  width: 100px;
  margin-top: 20px
}

.cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body{
  align-self: center;
  

}


.profileContainer{
  display: flex;
  justify-content: center;
  margin: 25px;
}

.changeProfile{
  margin: 20px;
}

#profileEditMess{
  margin-top: 20px;
}

.hiMess{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#itemImage{
  width: 500px;
}