<h2>Add a New Item</h2>

  <form action="/item-new" method="POST">
    
    <label>
        <p>Item</p> 
        <input type="text" name="item">
    </label>

    <label>
        <p>Category</p>
        <input type="text" name="category">
    </label>

    <label>
        <p>Image</p> 
        <input type="image" name="image">
    </label>

    <label>
        <p>Description</p> 
        <input type="text" name="description">
    </label>

    <br>

    <button type="submit">Add</button>
  </form>