 {{#if userInSession}}
<div>
  <h4 class="welcomeMess"> Hello, welcome to your dashboard page!</h4>

  {{#if items}} 

  <h4>Your Items</h4>
  
      <div class="partial-container-item-card">
        {{#each items}}
          {{> itemPartial this}}
        {{/each}}
      </div>
      
  {{else}}
    <p>You don't have any items yet.</p>
  {{/if}}     

{{else}}

    <p>Sorry, in order to see the content of this page you have to be signed in!</p>

    <button><a href="/">Go Back To The Home Page</a></button>
    <button><a href="/signin">Sign In</a></button>
    <button><a href="/signup">Register</a></button>

{{/if}}
