

<p id="profileEditMess">Here you can edit your profile</p>



 {{#if profileOwner}}
<div class="changeProfile">
<form action="/{{userFromDB._id}}/profile-edit" method="post" enctype="multipart/form-data">
<div class="form-group">
<label for="name-input">
    <p>Name</p>
    <input class="form-control" type="text" name="name" id="name-input" value="{{userFromDB.name}}" />
  </label>
</div>
  <br>

  <label>
    <p>Image</p> 
        {{!-- <form action="/upload" > --}}
    <input type="file" name="profileImage" accept="image/png, image/jpg">
        {{!-- </form> --}}
  </label>

     
  <br> 

  <button class="btn btn-primary" type="submit">Save changes</button>

</form>
</div>
  

 {{else}}

<p> In order to view this page you need to log in. </p> 

 {{/if}}
