<h4 class="welcomeMess">Welcome to your profile page</h4>

<h6>Personal Information</h6>

<div class="profileContainer">
<div class="card" style="width: 25rem;">
  <img src={{user.profileImage}} class="card-img-top" alt="user-profile-image">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: {{user.email}}</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-light"><a href="/profile-edit" class="card-link">Edit profile</a></button>
  </div>
</div>
</div>