<h1>Search Results</h1>

<div id="search-results">

    <div>
      {{> searchBar}}
    </div>


{{#if itemsToRetrieve}}

{{#each itemsToRetrieve}}
  {{>itemPartialMainPage this}}
{{/each}}

{{else}}
<p>Sorry, there are no items matching your criteria</p>

{{/if}}
</div>