<div>

<div>
    {{> searchBar}}
</div>

{{> categoriesPartial}}

{{#if itemsInCategory}}

<div class="partial-container-item-card">
{{#each itemsInCategory}}
  {{>itemPartialMainPage this}}
{{/each}}
</div>

{{else}}

<p>Sorry, there are no items in this category... Yet!</p>

{{/if}}



</div>